/* Discord themes:
settings bg and bg: #313338
mouse over Text bg: #2e3035
Settings left, Users and Channels bg: #2b2d31
Servers bg and settings fillable text bg: #1e1f22 
#80848e

#5BCEFA
#F5A9B8
#ffffff
#F5A9B8
#5BCEFA

Red: [ 255, 0, 0 ] #FF0000 Admin/mod
Yellow: [ 255, 255, 0 ] #FFFF00 Informal
Green: [ 0, 255, 0 ] #00FF00 sfw
Purple: [ 160, 32, 240 ] #A020F0 nsfw
*/

/* Fuck light mode */
body{
	background-color: #313338;
	color: #ffffff;
	display: flex;
}

/* side NavBar */
nav {
	top: 0;
	left: 0;
	position: fixed;
	background-color: #1e1f22;
	height: 100%;
	width: 134px; /* :3 */
}

nav ul {
	list-style: none;
	padding: 0;
	margin: 0;
	flex-direction: column;
}

nav li { padding: 10px 20px 10px 20px; }

nav li:hover {
	color: #fff;
	background-color: rgba(255, 255, 255, 0.502);
}

nav a { color: rgba(255, 255, 255, 0.66); }

/* Main menu banner */
.mainMenuBanner {
	background-color: #1e1f22;
	padding: 5px;
	width: 99%;
}

/* Main part */
main {
	margin-left: 140px;
	margin-top: 0;
	padding: 0;
}







article {
	float: left;
	width: 63%;
}
aside {
	float: right;
	width: 30%;
}


aside {
	margin-right: 0;
}

aside section {
	background-color: #1e1f22;
}