doctype
html(lang='en')
  head
    include ../includes/header.pug

    link(rel='stylesheet', href='/css/main.css')
  body
    .jumbotron.text-center.bg-transparent
	  h1.display-3 401
	  p.lead You are not authorized to view this page.
		i.fas.fa-question.pl-2
	  a.btn.btn-dark(href='/lulu') Return Home
	  a.btn.btn-dark(href='/lulu/teapot') Get some tea