doctype
html(lang='en')
  head
    include ../includes/header.pug

    link(rel='stylesheet', href='/css/main.css')
  body
    .jumbotron.text-center.bg-transparent
      h1.display-3 418
      p.lead You want some tea?
        i.fas.fa-question.pl-2
      img.d-inline-block(src='/gifs/tea-pouring-tea.gif', alt='tea', width='500', height='280') 
    .jumbotron.text-center.bg-transparent
      a.btn.btn-dark(href='/lulu') Nah, return me home