nav.navbar.navbar-expand-lg.bg-dark(data-bs-theme='dark')
  .container-fluid
    a.navbar-brand(href='/lulu') 
      img.d-inline-block.align-text-top(src='/pics/navbar/lulu_pic_small.png', alt='LuluPic', width='40', height='46')
    button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarNavAltMarkup', aria-controls='navbarNavAltMarkup', aria-expanded='false', aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarNavAltMarkup.sticky-top.collapse.navbar-collapse
      .navbar-nav.ms-auto
        a.nav-link(aria-current='page', href='/lulu') Home
        a.nav-link(href='/lulu/commands') Commands
        a.nav-link(href='/lulu/features') Features
        a.nav-link(href='/lulu/faq') FAQ
        a.nav-link(href='/lulu/licts') License
        a.nav-link(href='/lulu/statfun') Stats / Fun 
        
        a.nav-link(href='/lulu/login')
          img.d-inline-block(src='/pics/navbar_login.png', alt='lin', width='20', height='20') 
          | Login